
<div class='container'>
  <h1>Stupid Coaching</h1>
    <div class='card-yellow'>
      <p><%= params[:question] %></p>
      <p>- You</p>
    </div>
    <div class="card-white">
        <p><%= @answer %></p>
    <p>- Coach </p>
    </div>



  <%= link_to "Ask another question", ask_path %>
</div>
